NEXT_PUBLIC_FOUR_API_URL=https://pblahfvxzldcjyurpvgd.supabase.co/functions/v1/thefour-api
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_THE_FOUR_POSTER_URL=
NEXT_PUBLIC_TICKETING_URL=
NEXT_PUBLIC_BASE_PATH=
